body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
}
#main-logo {
  height: 62px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}
nav {
  display: flex;
  align-items: center;
  color: rgb(107, 114, 128);
}
ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

nav a {
  color: inherit;
  text-decoration: none;
  padding: 8px;
  transition: all 0.3s linear;
}
nav a:hover {
  color: black;
}
nav button {
  border: none;
  background: none;
  border-radius: 15px;
  padding: 7px 12px;
  transition: all 0.3s linear;
}
nav button:hover {
  cursor: pointer;
  background-color: aliceblue;
}

.signin-link {
  background-color: white;
  color: black;
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 19px;
}
.register-link {
  background-color: rgb(20, 176, 76);
  color: white;
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 19px;
}
.register-link:hover {
  color: white;
  background-color: rgb(15, 139, 60);
}
.accessibility-nav ion-icon {
  color: rgb(52, 130, 255);
  font-size: 22px;
}
.accessibility-nav button:hover {
  background-color: transparent;
}

#mobile-menu-btn {
  display: none;
}
#mobile-logo {
  display: none;
}

/* main */
section {
  padding: 0px 30px;
}
.intro {
  background-image: url("./images/eCitizen-hero-banner-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.intro h1 {
  color: white;
  margin-top: 70px;
}
.glass-bg {
  padding: 40px 30px 50px 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: rgba(0, 0, 0, 0.54);
  backdrop-filter: blur(5px);
}
#search {
  background-color: white;
  padding: 15px;
  border-radius: 25px;
  display: flex;
  align-items: center;
}
#search input {
  border: none;
  width: 100%;
  margin-left: 12px;
}
#search input::placeholder {
  font-size: 18px;
  color: rgb(134, 136, 141);
}
#search ion-icon {
  color: rgb(134, 136, 141);
  font-size: 20px;
}
.services {
  display: flex;
  justify-content: space-evenly;
}
.services li {
  flex: 1;
}
.services img {
  display: block;
  margin: 0 auto;
}
.services a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}
/* sections */

/* MEDIA QUERIES -- responsive */
@media (max-width: 1023px) {
  .desktop-nav,
  .user-nav {
    display: none;
  }

  #mobile-menu-btn {
    display: block;
  }
  #mobile-menu-btn ion-icon {
    color: rgb(107, 114, 128);
    font-size: 30px;
  }
  .services {
    flex-wrap: wrap;
  }
  .services li {
    min-width: 22%;
  }
}

@media (max-width: 768px) {
  .services {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .services li {
    min-width: 34%;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .services::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .services {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /* Explore browser compatibility  ----- mos, webkit */
}

@media (max-width: 540px) {
  #main-logo {
    display: none;
  }
  #mobile-logo {
    display: block;
    height: 55px;
  }
}
